<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Oceal</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="css/clean-blog.min.css" rel="stylesheet" />
    <link href="css/modern-business.css" rel="stylesheet" />
    <link
      href="vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <body>
    <!-- Navigation -->
    <nav
      class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top"
    >
      <div class="container">
        <a class="navbar-brand" href="index.html">Oceal</a>
        <button
          class="navbar-toggler navbar-toggler-right"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="faq.html">Q & A</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownBlog"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Product
              </a>
              <div
                class="dropdown-menu dropdown-menu-right"
                aria-labelledby="navbarDropdownBlog"
              >
                <a class="dropdown-item" href="fitx.html">台指期</a>
                <a class="dropdown-item" href="fite.html">電指期</a>
                <a class="dropdown-item" href="fitf.html">金融指</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header>
      <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-ride="carousel"
      >
        <ol class="carousel-indicators">
          <li
            data-target="#carouselExampleIndicators"
            data-slide-to="0"
            class="active"
          ></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div
            class="carousel-item active"
            style="
              background-image: url('https://media.wired.com/photos/5bb6accf0abf932caf294b18/125:94/w_2375,h_1786,c_limit/waves-730260985.jpg');
            "
          >
            <div class="carousel-caption d-none d-md-block">
              <!-- <h3>First Slide</h3> -->
              <!-- <p>This is a description for the first slide.</p> -->
            </div>
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div
            class="carousel-item"
            style="background-image: url('http://placehold.it/1900x1080')"
          >
            <div class="carousel-caption d-none d-md-block">
              <!-- <h3>Second Slide</h3> -->
              <!-- <p>This is a description for the second slide.</p> -->
            </div>
          </div>
          -->
          <!-- Slide Three - Set the background image for this slide in the line below -->
          <div
            class="carousel-item"
            style="background-image: url('http://placehold.it/1900x1080')"
          >
            <div class="carousel-caption d-none d-md-block">
              <!-- <h3>Third Slide</h3> -->
              <!-- <p>This is a description for the third slide.</p> -->
            </div>
          </div>
        </div>
        <a
          class="carousel-control-prev"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>

    <!-- Page Content -->
    <div class="container">
      <!-- <h1 class="my-4">Welcome to Oceal</h1> -->

      <!-- Marketing Icons Section -->
      <!-- <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Card Title</h4>
            <div class="card-body">
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Sapiente esse necessitatibus neque.
              </p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Card Title</h4>
            <div class="card-body">
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Reiciendis ipsam eos, nam perspiciatis natus commodi similique
                totam consectetur praesentium molestiae atque exercitationem ut
                consequuntur, sed eveniet, magni nostrum sint fuga.
              </p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Card Title</h4>
            <div class="card-body">
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Sapiente esse necessitatibus neque.
              </p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
      </div> -->
      <!-- /.row -->

      <!-- Portfolio Section -->
      <!-- <h2>Portfolio Heading</h2>

      <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"
              ><img
                class="card-img-top"
                src="http://placehold.it/700x400"
                alt=""
            /></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Project One</a>
              </h4>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet
                numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus
                sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum
                tempora ex quae? Nihil, dolorem!
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"
              ><img
                class="card-img-top"
                src="http://placehold.it/700x400"
                alt=""
            /></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Project Two</a>
              </h4>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
                viverra euismod odio, gravida pellentesque urna varius vitae.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"
              ><img
                class="card-img-top"
                src="http://placehold.it/700x400"
                alt=""
            /></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Project Three</a>
              </h4>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos
                quisquam, error quod sed cumque, odio distinctio velit nostrum
                temporibus necessitatibus et facere atque iure perspiciatis
                mollitia recusandae vero vel quam!
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"
              ><img
                class="card-img-top"
                src="http://placehold.it/700x400"
                alt=""
            /></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Project Four</a>
              </h4>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
                viverra euismod odio, gravida pellentesque urna varius vitae.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"
              ><img
                class="card-img-top"
                src="http://placehold.it/700x400"
                alt=""
            /></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Project Five</a>
              </h4>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
                viverra euismod odio, gravida pellentesque urna varius vitae.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"
              ><img
                class="card-img-top"
                src="http://placehold.it/700x400"
                alt=""
            /></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Project Six</a>
              </h4>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque
                earum nostrum suscipit ducimus nihil provident, perferendis rem
                illo, voluptate atque, sit eius in voluptates, nemo repellat
                fugiat excepturi! Nemo, esse.
              </p>
            </div>
          </div>
        </div>
      </div> -->
      <!-- /.row -->

      <!-- Features Section -->
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <!-- <h2>Oceal</h2> -->
          <br />
          <p>
            對於初進市場的投資人來說，金融市場就如一片廣大的汪洋，散戶們憑藉著自身的經驗或知識浮沉於這片大海上，但光靠著傳統的技術指標所建構的交易策略並最後成為贏家的人屈指可數。
            因此本平台名字的由來就是希望成為投資人在金融市場上的一盞明燈，Oceal成立宗旨致力於引導投資人以更有效率的方式在金融市場存活並有高機會獲利，我們運用AI來對市場進行分析，進而衍生出一套交易策略!
            未來會不定期分享金融與AI的相關知識，歡迎大家持續關注我們~
          </p>
          <hr />
          <h4>我們提供的服務 :</h4>
          <ul>
            <li>期貨分析</li>
          </ul>
        </div>
        <!-- <div class="col-lg-6">
          <img
            class="img-fluid rounded"
            src="http://placehold.it/700x450"
            alt=""
          />
        </div> -->
      </div>
      <!-- /.row -->

      <!-- Call to Action Section
      <div class="row mb-4">
        <div class="col-md-8">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias,
            expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo
            praesentium cum alias asperiores commodi.
          </p>
        </div>
        <div class="col-md-4">
          <a class="btn btn-lg btn-secondary btn-block" href="#"
            >Call to Action</a
          >
        </div>
      </div> -->
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a
                  href="https://www.facebook.com/Oceal-%E6%99%BA%E8%83%BD%E6%8A%95%E8%B3%87%E4%BA%A4%E6%98%93-113737343750831/"
                >
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://line.me/R/ti/p/%40935fbrfs">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-line fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <br />
            <p class="m-0 text-center text-white">
              Copyright &copy; Oceal 2020
            </p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
  </body>
</html>
